.ipynb_checkpoints
.DS_Store
.pre-commit-config.yaml
src/qcrypto/__pycache__/
tests/__pycache__/
dist
.coverage
htmlcov
*.pyc
settings.json
*txt
!*profile.txt
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
docs/build/*
